<div class="card login">
    <div class="item item-divider header">
        Login
    </div>
    <div class="item content">
        <label class="item item-input">
            <input type="text" placeholder="User Name" ng-model="userName">
        </label>
        <label class="item item-input">
            <input type="password" placeholder="Password" ng-model="password">
        </label>
    </div>
    <div class="item item-divider footer">
        <button id="loginBtn" class="button button-positive button-small" ng-click="login()">Login</button>
    </div>
</div>